.new-model {
  display: flex;
}

.models {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.container {
  flex-direction: column;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
