.new-model {
  display: flex;
  justify-content: space-between;
}

.models {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  flex-direction: column;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.cards {
  margin: 5% 5% 2.5% 0;
}
